@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Space Mono";
}
body{
    display: flex;
    width: 100vW;
    height: 100vh;
    background: 100%;
    background: #C5E4E7;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.logo{
    margin-top: 50px;
    margin-bottom: 40px;
}
.container{
    min-width: 350px;
    width: 80%;
    height: 100%;
    padding: 32px;
    border-radius: 25px 25px 0px 0px;
    background: #FFF;
    box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.20);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bill{
    width: 47px;
    color: #5E7A7D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: -10px;
}
.box-2{
    width: 311px;
}
.box-1-2{
    width: 311px;
    height: 48px;
    margin-bottom: 32px;
}
.dollar-img{
    transform: translate(15px, 32px);
}
#money_amount{
    width: 311px;
    height: 48px;
    border-radius: 5px;
    color: #00474B;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #F3F9FA;
    border: none;
    outline: none;
    padding-right: 17px;
    padding-left: 50px;
}
#money_amount:hover{
    border: 2px solid #26C2AE;
}
.box-2-2{
    margin-bottom: 22px;
}
.select_tip{
    color: #5E7A7D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}
.tip_amount{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    background: #00474B;
    width: 146.631px;
    height: 48px;
    margin-bottom: 16px;
    outline: none;
    cursor: pointer;
}
.selected{
    background-color: #26C2AE;
    color: #00474B;
}
.tip_amount:hover{
    border: none;
}
#custom{
    width: 147.814px;
    height: 48px;
    border-radius: 5px;
    color: #547878;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #F3F9FA;
    border: none;
    outline: none;
    padding-right: 17px;
}
#custom:hover{
    border: 2px solid #26C2AE;
}
.number_of_people{
    color: #5E7A7D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: -10px;
}
.error{
    color: #E17457;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -24px;
    display: none;
}
.person-img{
    transform: translate(15px, 32px);
}
#people_amount{
    width: 311px;
    height: 48px;
    border-radius: 5px;
    color: #00474B;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #F3F9FA;
    border: none;
    outline: none;
    padding-right: 17px;
    padding-left: 50px;
}
#people_amount:hover{
    border: 2px solid #26C2AE;
}
.box-3-2{
    width: 311px;
    height: 48px;
    margin-bottom: 32px;
}
.box-4{
    width: 327px;
    height: 257px;
    border-radius: 15px;
    background: #00474B;
    padding: 40px 24px 32px 24px;
}.box-4-2{
    margin-bottom: 20px;
}
.box-4-3{
    margin-bottom: 32px;
}
.tip{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.person{
    color: #7F9D9F;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tip_amount_per_person{
    color: #26C2AE;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.667px;
    margin-top: -50px;
}
.total{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.total_amount{
    color: #26C2AE;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.667px;
    margin-top: -50px;
}
.reset_button{
    border: none;
    color: #00474B;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #0D686D;
    width: 281px;
    height: 48px;
    border-radius: 5px;
    outline: none;
}
@media(min-width: 1440px){
    .logo{
        margin-top: 120px;
        margin-bottom: 88px;
    }
    .container{
        width: auto;
        height: 535px;
        padding-left: 64px;
        padding-right: 32px;
        padding-top: 45px;
        padding-bottom: 48px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 25px;
    }
    .box-1{
        margin-left: -150px;
        margin-bottom: 20px;
    }
    .box-1-2{
        margin-bottom: 20px;
    }
    #money_amount{
        width: 379px;
    }
    .box-2{
        display: flex;
        width: 460px;
        flex-direction: column;
    }
    .box-3{
        margin-bottom: -30px;
        margin-left: -150px;
    }
    #people_amount{
        width: 379px;
    }
    .tip_amount{
        width: 117px;
    }
    #custom{
        width: 117px;
    }
    .box-4{
        width: 413px;
        height: 417px;
        align-items: center;
    }
    .box-4-2{
        margin-bottom: 40px;
    }
    .box-4-3{
        margin-bottom: 135px;
    }
    .reset_button{
        width: 365px;
    }
    .tip_amount_per_person{
        font-size: 48px;
        letter-spacing: -1px;
    }
    .total_amount{
        font-size: 48px;
        letter-spacing: -1px;
    }
    .error{
        margin-right: -60px;
    }
}
